html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --clr--text: hsl(0, 0%, 8%);
  --clr--background: hsl(0, 0%, 100%);
  --clr--primary: hsl(0, 0%, 73%);
  --clr--secondary: hsl(177, 60%, 76%);
  --clr--accent: hsl(60, 100%, 50%);
}

@media (color-scheme-dark: dark) {
  :root {
    --clr--text: hsl(0, 0%, 100%);
    --clr--background: hsl(0, 0%, 8%);
    --clr--primary: hsl(0, 0%, 73%);
    --clr--secondary: hsl(0, 0%, 13%);
    --clr--accent: hsl(60, 100%, 50%);
  }
}

button {
  box-shadow: -1px 1px 1px 1px #8a8a8a;
  background-color: var(--clr--accent);
  border-radius: 6px;
  border: 1px solid var(--clr-secondary);
  display: inline-block;
  cursor: pointer;
  color: white;
  /* color: var(--clr-text); */
  font-size: 17px;
  padding: 10px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
button:hover {
  background-color: var(--clr-secondary);
}
button:active {
  position: relative;
  top: 1px;
}

button:focus {
  background-color: var(--clr-secondary);
}

body {
  background-color: beige;
  margin: 0;
}

.box-style {
  border: 1px solid var(--clr-secondary);
  border-radius: 6px;
  background-color: var(--clr-primary);
  display: grid;
  box-shadow: -1px 1px 1px 1px #8a8a8a;
  padding: 12px;
}

#app-container {
  justify-content: center;
  background-color: var(--clr-background);
}

#top-wrapper {
  height: 100px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
}

#search-wrapper {
  display: grid;
  padding: 2px;

  border: 1px solid var(--clr-secondary);
  border-radius: 6px;
  background-color: var(--clr-primary);
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  box-shadow: -1px 1px 1px 1px #8a8a8a;
  margin-right: 50px;
  /* width: 500px; */
}

#search {
  border: 1px solid black;
  border-radius: 6px;
  height: 46px;
  background-color: var(--clr-primary);
  padding-left: 80px;
}

#grades {
  border: 1px solid var(--clr-secondary);
  border-radius: 6px;
  background-color: var(--clr-primary);
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  box-shadow: -1px 1px 1px 1px #8a8a8a;
}

/* TOP PART END */
.country-city {
  display: flex;
  justify-content: start;
}

.country {
  padding-left: 30%;
}

.city {
  justify-content: center;
}

#weather-image {
  display: flex;
  justify-content: center;
  padding: 6px;
}

#temperature {
  display: flex;
  justify-content: center;
}

/* BOTTOM START*/

#bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 6px;
}

#app-container > * {
  /* background-color: var(--clr-background); */
  border: 1px solid black;
}
