html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

:root {
  --clr--text: #141414;
  --clr--text-alt: #f2f2f2;

  --clr--background: #ffffff;
  --clr--primary: #f2f2f2;
  --clr--secondary: #e5e5e5;
  --clr--accent: #0d0d0d;
  --clr--shadow: #3f3f3f;

  --body-background: #141414;
}

.dark-mode {
  --clr--text: #ffffff;
  --clr--text-alt: #151515;

  --clr--background: #0f0f0f;
  --clr--primary: #272727;
  --clr--secondary: #3f3f3f;
  --clr--accent: #f1f1f1;
  --clr--shadow: #3b3b3b;

  --body-background: #272727;
}

body {
  margin: 0;
}

button {
  box-shadow: -1px 4px 5px -1px var(--clr--shadow);
  background-color: var(--clr--primary);
  color: var(--clr--text);
  display: inline-block;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  padding: 6px 20px;
}
button:hover {
  background-color: var(--clr--secondary);
}
button:active {
  background-color: var(--clr--accent);
}

button:focus {
  background-color: var(--clr--accent);
  color: var(--clr--text-alt);
  box-shadow: -2px 4px 6px 0px var(--clr--shadow);
}

/* LIGHT/DARK THEME */

#light-mode {
  display: none;
}

#dark-mode {
  display: inline-block;
}

/* TOP PART START */

.box-style {
  border-radius: 6px;
  background-color: var(--clr-primary);
  padding: 12px;
  box-shadow: -1px 4px 5px -1px var(--clr--shadow);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: var(--body-background);
  padding: 60px;
}

#app-container {
  border-radius: 20px;
  box-shadow: -3px 4px 4px 4px var(--clr--shadow);
  background-color: var(--clr--background);
  max-width: 60vw;
  min-width: 620px;
}

#top-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
}

#search-wrapper {
  padding: 20px;
}

#search {
  border: none;
  border-radius: 6px;
  height: 31px;
  font-size: 14px;
  margin-right: 4px;
  padding: 4px;
  box-shadow: -1px 4px 5px -1px var(--clr--shadow);

  background-color: var(--clr--secondary);
}

#grades {
  border-radius: 6px;
  background-color: var(--clr-primary);
  padding: 20px;
  display: flex;
}

.line {
  margin: 0px 10px 0px 10px;
}

/* TOP PART END */

/* MIDDLE START */

h1,
h2,
h3 {
  color: var(--clr--text);
}

.country-city {
  display: flex;
  justify-content: start;
}

.country {
  padding-left: 30%;
}

.city {
  justify-content: center;
}

#weather-image {
  display: flex;
  justify-content: center;
  padding: 6px;
}

#temperature {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

/* MIDDLE END */

/* BOTTOM START*/

#bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 6px;
}

.bottom-box {
  background-color: var(--clr--secondary);
  color: var(--clr--text);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BOTTOM END */
